/*  ===== MOBILE styles (reside at the top and are inherited by all devices) ===== */
/*  ===== See tablet, desktop, and print @media queries at the bottom. */


/*   ----- Imports  -----  */
  /* @import 'node_modules/modern-normalize/modern-normalize.css';  npm install modern-normalize  Resets elements for browser consistency.  https://www.npmjs.com/package/modern-normalize */         
  /* @import "component1.css";   Component-specific stylesheets, if any.   */
  /* @import url(//fonts.googleapis.com/css?family=Font+Name); Add fonts from a hosted services like Google Fonts.   */

  @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;600&family=Montserrat:ital,wght@0,300;0,600;0,900;1,600&display=swap');
  

/*   ----- Variables  -----  */
:root {
    /*--custom-embellishment-name:;*/
    --industrial-blue: #A6B9DD;
    --grey-blue-light: #E2F3FF;
    --grey-blue-medium: #A9ACB4;
    --grey-blue-dark: #8F9198;
    --muddy-green: #3C392A;
    --peachy-coral: #FFBA91;
    --pink-coral: #F9A99E;
    --grey-blue-light-transparent: rgba(226, 243, 255, 0.5);
    --pink-coral-transparent: rgba(249, 169, 158, 0.5);
  }
  
  /*  ----- Viewport ----- elements inherited by all remaining elements ----- */
  body {       /* Can alternatively define in html {}. */
    background-image: url("images/background-image-beach-sky.jpg");
    color: var(--muddy-green);
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;/* Define with at least one font name and its related generic family name.*/
    line-height: 1.2;
    padding: 20px;
    max-width: 75%;
    box-sizing: border-box;
    min-width:700px;
  }
  
  /*  ----- Page layout blocks -----  */
  header, footer {
    background-color: var(--pink-coral-transparent);
    margin: 0;
    padding: 1.5%;
    border: 2px solid var(--pink-coral);
    color: var(--muddy-green);
  }
  header img {
    width: 80px;
    height: 80px;
    margin: 1px;
  }
  header{
    text-align:center;
    vertical-align: middle;
  }
  footer{
    font-weight: bold;
  }
  main {
    background-color: var(--grey-blue-light-transparent);
    margin: 0;
    padding: 4%;
    border: 2px solid var(--grey-blue-light);
    color: var(--muddy-green);
  }
  section {
    background-color: var(--grey-blue-light);
    padding: 2%;
  }
  article {
    border-top: 2px solid var(--grey-blue-medium);
    margin: 6px 0 2px 0;
  }
    #topic1 {}
    #topic2 {}
  div {}
  aside {
    float:inline-end;
    width:20%;
    border: 1px solid var(--muddy-green);
    background-color: var(--pink-coral-transparent);
    margin: 1%;
    padding: 1%;
  }
  footer {}
  
  /* ----- Anchors ----- Text links */
  a {}
  a:link {
    color: var(--muddy-green);
  }
  a:hover {
    background-color: var(--grey-blue-light);
  }
  a:active {}
  a:visited {}
  
  /*  ----- Navigation ----- Override text links for navigation only.  */
  nav {
    display:flex;
    flex-flow:row wrap;
  }
  nav a {
    background-color: var(--peachy-coral);
    border: 2px solid var(--pink-coral);
    border-radius: 5px;
    color: var(--muddy-green);
    font-size: 1.5em;
    font-weight:bold;
    line-height:2;
    margin-right:3px;
    padding: 3px;
    margin:3px;
    text-decoration: none;
  }
  nav a:hover {
    background-color: var(--pink-coral);
    color:var(--muddy-green);
    margin:2px;
    padding: 4px;
  }
  .local {
    display:flex;
  }
  .local a{
    background-color: var(--pink-coral);
    border: 2px solid var(--peachy-coral);
    font-size: 0.7em;
  }
  .local a:hover{
    background-color: var(--peachy-coral);
  }
  
  /*  -----  Typography  ----- */
  p {}
  br {}
  ol, ul, dl {}
  li {}
  dt {}
  dd {}
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Chakra Petch', sans-serif; 
    font-size:1.3em; 
    font-weight: bold;
} 
  h1 {}
  h2 {}
  h3 {}
  h4 {}
  h5 {}
  h6 {}
  
  abbr {}
  acronym {}
  address {}
  blockquote {}
    q {}
    cite {}
  em {}
  hr {}
  mark {}
  s {}
  span {}
  strong {}
  sub {}
  sup {}
  time {}
  
  /*  ----- Coding or instructional typography ----- */
  pre {}
  code {}
  kbd {}
  samp {}
  var {}
  del {} 
  ins {}
  
  /*  ----- Table ----- */
  table {
    background-color: var(--pink-coral-transparent);
    border: 0.5mm solid var(--pink-coral);
    padding:0.5%;
    border-collapse:collapse;
    width:100%;
    margin:1%;
    flex-flow:row-wrap;
  }
  table img{
    height:100%;
    border: 3px solid var(--grey-blue-light-transparent);  
  }
  table input{
    width:100%;
    overflow:visible;
  }
  caption {
    font-weight: bolder;
    margin-bottom:2%;
  }
  thead {
    font-size: 120%;
    background-color: var(--pink-coral);
  }
  tbody {}
  tfoot {}
  tr td {
    border: 0.5mm dotted var(--pink-coral);
    text-align: center;
  }
    tr:nth-child(even) {}
  th {}
  td {}
    td:nth-child(1) {}
  colgroup {}
  data {}
  datalist {}
  
  
  /*  ----- Form ----- */
  form {
    display:flex;
    flex-flow: row wrap;
  }
  fieldset {
    flex: 1;
    border: 2px solid var(--grey-blue-dark);
    padding: 10px;
    margin: 2px;
    background-color: var(--grey-blue-light-transparent);
  }
  legend {
    border: 2px solid var(--grey-blue-dark);
    border-bottom:0;
    background-color: var(--pink-coral-transparent);
    font-size: 120%;
  }
  label.required:after{
    content: " *";
    color:green;
  }
  label {
    display:block;
    margin-top:2%;
  }
  :focus{
    background_color:var(--grey-blue-light);
  }
  button, select {
    font-size:110%;
    padding:1%;
    font-family:inherit;
  }
  button{
    align-self: flex-start;
  }
  input {
    font-size: 110%;
    padding: 1%;
    font-family: inherit;
  }
  input:invalid{
    border: 2px solid red;
  }
  input:valid{
    border:2px solid green;
  }
  input::placeholder{
    color:darkgray;
  }
    optgroup {}
    option {}
  textarea {
    font-size:110%;
    padding:1%;
    font-family:inherit;
    height: 100px;
    width: 95%;
  }
  output {}
  meter {}
  progress {}
  
  /* ----- Media ----- */

  .gallery{
    display: flex;
    flex-flow: row wrap;
        margin: 0px;
    padding: 0;
  }

  .gallery figure{
    width: 320px;
    margin: 50px 15px 0px 15px;
    padding: 1%;
    border: 3px solid var(--pink-coral);
    background-color: var(--pink-coral-transparent);
  }

  .gallery figcaption{
    display: block;
    margin: 2px;
    padding: 3%;
    border: 2px solid var(--peachy-coral);
    background-color: var(--grey-blue-light-transparent);
  }

  .gallery img{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  svg {}
  picture {}
    source {}
  iframe {}
  video {}
  audio {}
  embed {}
  object {}
  
  /*  ----- Classes for alignment, positioning, widths, grids, embellishments, and animation -----  */
  .gallery {}
  
  .floatright {}
  .floatleft {}
  .center-middle {}
  
  .ten {}
  .twenty {}
  .thirty {}
  .forty {}
  .fifty {}
  .sixty {}
  .seventy {}
  .eighty {}
  
  .radius {}
  .circle {}
  .boxshadow {}
  .tshadow {} 
  .gradient {}
  .shape {}
  
  @keyframes App-logo {}
  
  /*   ===== TABLET  media query overrides mobile styles ===== */
  @media all and (min-width: 600px) {}
  
  /*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
  @media all and (min-width: 1080px) {}
  
  /*   ===== PRINT  media query overrides previous styles =====  */
  @media print {}
  